:root {
  --bg: #EAEBF3;
  --b: #303BA0;
  --db: #000F47;
}

* {
  padding: 0;
  margin: 0;
  color: #262626;
}

html{
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
}

img {
  width: 20rem;
}

header {
  width: 100vw;
  position: fixed;
  background-color: var(--bg);
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: hidden;
  box-shadow: 1px 4px 3px lightgrey;
}

header nav ul {
  display: flex;
  align-items: center;
}

li, a {

  list-style: none;
  text-decoration: none;
}

/* overlay is the menu in mobile and tab */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--bg);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.card:hover{
  transition: 1s;
    box-shadow: 15px 15px 15px #cccccc, -15px -15px 15px #f4f4f4;
}

nav li.active a .bn29 {
  color: var(--b);
}


.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 10rem;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  color: #000;
}

button {
  padding: 7px 15px;
  background-color: var(--bg);
  border: none;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__links li {
  display: inline-block;
  padding: 0px 10px;
}

/* toggle is the hamburger icon */
.toggle {
  position: absolute;
  top: 6rem;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  height: 4rem;
  cursor: pointer;
}

.bar {
  width: 100%;
  background: #000;
  height: 3px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.services, .protfolio, .team, .working, .testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 100%;
}

.research, .Market-analysis {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
  margin: 0 auto 15rem auto;
  text-align: left;
  line-height: 2;
}

.intro {
  height: 100vh;
}

.intro-buttons button, .button, .cardbutton {
  padding: 0.8rem 3rem;
  color: #fff;
  background-color: var(--b);
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.card {
  background: #e0e0e0;
  box-shadow: 5px 5px 5px #cccccc,
    -5px -5px 5px #f4f4f4;
  padding: 1.2rem;
  text-align: center;
  background-color: var(--bg);
  border-radius: 2rem;
}


.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cardbutton {
  width: 100%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tbtn {
  font-size: 1rem;
  padding: 0.8rem 3rem;
  background-color: var(--bg);
  cursor: pointer;
  border: none;
  border-radius: 35px;
}

.tbtn.active {
  background: var(--bg);
  border: 1px solid var(--bg);
  box-shadow: 6px 6px 12px #bcbcbc,
    -6px -6px 12px #ffffff;
}

.protfolio-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
  position: relative;
}

.container img {
  padding: 0.5rem;
  width: 25rem;
  height: 20rem;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.1;
}

.card-img img {
  border-radius: 1rem;
  ;
}

.testimonial-img img {
  width: 8rem;
  border-radius: 2rem;
}

.cardbody {
  display: contents;
}

.testimonials-corousel {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tcard {
  width: 80%;
  display: none;
  align-items: center;
  background: #e0e0e0;
  box-shadow: 5px 5px 5px #cccccc, -5px -5px 5px #f4f4f4;
  padding: 1.2rem;
  background-color: var(--bg);
  border-radius: 2rem;
}

.active {
  display: flex;
}

.disable {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots span.dot.dotactive, .dot:hover {
  background-color: var(--b);
}

.container:hover .middle {
  opacity: 1;
}

.bn {
  background-color: var(--b);
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: lighter;
}

.copyright {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 0.3rem;
  background-color: var(--db);
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.end {
  padding: 4rem 6rem 2rem 6rem;
  background-color: var(--b);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.address {
  align-items: flex-start;
}

.end-services {
  align-items: flex-end;
}

.phone, .mail {
  width: 100%;
  display: flex;
  align-items: center;
}

.phone p, .mail p {
  padding-left: 1rem;
}

.end-links li {
  padding: 0.2rem;
}

.copyright {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 0.3rem;
  background-color: var(--db);
  color: white;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width:800px) {
  body {
    background-color: var(--bg);
  }

  header {
    height: 6rem;
  }
  .intro {
    height: 100vh;
  }
  .nav__links, .cta {
    display: none;
  }

  .nav-head {
    font-size: 0.8rem;
    letter-spacing: .2rem;
  }

  .desktop {
    display: none;
  }

  .menu {
    display: inherit;
  }

  .toggle {
    display: flex;
    width: 2.5rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
  }

  .overlay a {
    font-size: 1rem;
  }

  .overlay .close {
    font-size: 4rem;
    font-weight: lighter;
    top: 1rem;
    right: 2rem;
  }

  .intro-buttons {
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .intro-buttons button, .button, .cardbutton {
    padding: 1rem 4rem;
    color: #fff;
    background-color: var(--db);
    font-size: 1rem;
    border-radius: 3rem;
  }

  .research, .Market-analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .workinfo-mobile {
    width: 100%;
    height: 19rem;
    background-image: url("Images/Process(tab and mobile).svg");
    background-position: center;
    background-size: 10rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sub {
    font-size: 0.5rem;
  }

  .one1, .five5 {
    padding-left: 3rem;
  }

  .three3 {
    padding-left: 2rem;
  }

  .two2 {
    text-align: right;
    padding-right: 3rem;
  }

  .four4 {
    text-align: right;
    padding-right: 2rem;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .column {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .card-img img {
    height: 12rem;
    width: 16rem;
  }

  .teamimg img {
    height: 16rem;
  }

  .row {
    margin: 0;
    flex-direction: column;
  }

  .info, .our-info {
    width: 80%;
  }

  .info p, .our-info p {
    font-size: 1rem;
  }

  .container img {
    width: 20rem;
    height: 20rem;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tbtn {
    font-size: 0.6rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid var(--bg);
    background-color: var(--bg);
    cursor: pointer;
    border-radius: 35px;
  }

  .tbtn.active {
    background: var(--bg);
    box-shadow: 6px 6px 12px #bcbcbc,
      -6px -6px 12px #ffffff;
  }

  .tcard {
    width: 60%;
    display: contents;
    flex-direction: column;
  }

  .disable {
    display: none;
  }

  .testimonial-img img {
    width: 10rem;
    border-radius: 2rem;
    padding-top: 2rem;
  }

  .end {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .address, .links, .end-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media (min-width: 800px) and (max-width:1200px) {
  body {
    background-color: var(--bg);
  }

  header {
    height: 8rem;
  }

  img {
    width: 20rem;
  }

  .nav__links, .cta {
    display: none;
  }

  .nav-head {
    font-size: 1rem;
    letter-spacing: .8rem;
  }

  .desktop {
    display: none;
  }

  .menu {
    display: inherit;
  }

  .toggle {
    display: flex;
    width: 2.5rem;
    height: 2rem;
    top: 3rem;
    right: 3rem;
  }

  .overlay a {
    font-size: 1rem;
  }

  .overlay .close {
    font-size: 4rem;
    font-weight: lighter;
    top: 1rem;
    right: 2rem;
  }

  .intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro p {
    width: 68%;
    font-size: 1rem;
    font-weight: bold;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
  }

  .head {
    font-size: 1.5rem;
  }

  .matter {
    width: 40rem;
  }

  .research, .Market-analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .research img, .Market-analysis img {
    width: 30rem;
  }

  .tabs {
    width: 50rem;
  }

  .matter p {
    padding-top: 3rem;
    font-size: 1.2rem;
  }

  .info, .our-info {
    padding: 2rem;
  }

  .our-info p, .info p {
    font-size: 1.2rem;
  }

  .card p {
    padding-top: 1rem;
    font-size: 1rem;
  }

  .workinfo-mobile {
    width: 100%;
    height: 58rem;
    background-image: url("Images/Process(tab and mobile).svg");
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sub {
    font-size: 1rem;
  }

  .one1, .five5 {
    padding-left: 6rem;
  }

  .three3 {
    padding-left: 3rem;
  }

  .two2 {
    text-align: right;
    padding-right: 8rem;
  }

  .four4 {
    text-align: right;
    padding-right: 3rem;
  }

  .column {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .row {
    margin: 0;
  }

  .info, .our-info {
    width: 80%;
  }

  .info p, .our-info p {
    font-size: 1rem;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tbtn {
    font-size: 1rem;
    padding: 0.8rem 3rem;
    background-color: var(--bg);
    cursor: pointer;
    border: none;
    border-radius: 35px;
  }

  .tbtn.active {
    background: var(--bg);
    border: 1px solid var(--bg);
    box-shadow: 6px 6px 12px #bcbcbc,
      -6px -6px 12px #ffffff;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: var(--bg);
  }

  .mobile {
    display: none;
  }

  header {
    width: 100vw;
    position: fixed;
    background-color: var(--bg);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-style: hidden;
    box-shadow: 1px 4px 3px lightgrey;
  }

  .research img, .Market-analysis img {
    width: 35rem;
  }

  .intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro {
    height: 100vh;
  }

  .intro p {
    width: 48%;
    font-size: 1rem;
    font-weight: bold;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
  }

  .head {
    font-size: 1.5rem;
  }

  .nav-head {
    letter-spacing: 1rem;
    font-size: 1rem;
  }

  .matter {
    width: 40rem;
  }

  .workinfo {
    width: 100%;
    height: 23rem;
    background-image: url("Images/Process(desktop).svg");
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
  }

  .subinfo {
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 11rem;
    font-size: 1.2em;
  }

  .tabs {
    width: 50rem;
  }

  .para {
    font-size: 1rem;
    font-weight: bold;
  }

  .two, .four {
    margin-top: 10rem;
  }

  /* services */
  .services, .protfolio, .team, .working, .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    height: 100%
  }

  .header h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .column {
    width: 23rem;
  }

  .teamimg img {
    width: 100%;
    height: 22rem;
    border-radius: 2rem;
  }
}
